APPLICATION_NAME=KepServerLogger

KEPSERVER_SERVER_URL=opc.tcp://localhost:49320
KEPSERVER_USERNAME=administrator
KEPSERVER_PASSWORD=your-kepserver-password
KEPSERVER_EVENT_LOG_URL=https://localhost:57573/config/v1/project/services/EventLog

CERT_PATH=extractor_cert.pem
KEY_PATH=extractor_key.pem
