APPLICATION_NAME=IDL-Extractor

KEPSERVER_SERVER_URL=opc.tcp://localhost:49320
KEPSERVER_USERNAME=username
KEPSERVER_PASSWORD=password
KEPSERVER_EVENT_LOG_URL=http://127.0.0.1:57412/config/v1/event_log

CERT_PATH=certs/client_cert.pem
KEY_PATH=certs/client_key.pem
